@model IEnumerable<VM.Models.Product>

@{
    ViewBag.Title = "Home Page";
}
<br />
<br />

<div id="panel_left">
</div>
<div id="panel_right">
    <div class="sub_panel_coin">
        <div class="sub_panel_inserted_coin">
            Сумма  :
            <span id="total_cost">0</span> рублей
        </div>
        <div id="sub_panel_insert_button" class="sub_panel_insert_button">
            <img src="~/images/Dime.png" class="coin_push" count="1" value="1 руб." />
            <img src="~/images/Quarter.png" class="coin_push" count="2" value="2 руб." />
            <img src="~/images/Half.png" class="coin_push" count="5" value="5 руб." />
            <img src="~/images/Dollar.jpg" class="coin_push" count="10" paper="true" value="10 руб." />
            @*<input type="button" class="coin_push" count="0" value="Обнулят" />*@
        </div>
    </div>
    <div class="sub_panel_message">
        <div class="sub_panel_message_title">
            Message
        </div>
        <textarea id="message" readonly></textarea><br />
        <input type="button" class="btn btn-info" id="clear_log" value="Очистить журнал" />
    </div>
</div>
<script type="text/javascript">
    var doc_loaded = function () {
        var items = {};

        $(document).ready(function () {
            $.ajax({
                url: '/Home/About',
                success: function (res) {
                    items = res;

                    i = items.length;

                    // Initialize Partial View Modules

                    views.itemDeck.init();
                    views.logPanel.init();
                    views.coinPanel.init();

                    models.Dispenser.setInventory(items);
                    while ((i -= 1) >= 0) {
                        views.itemDeck.itemRender(items[i]);
                    }
                }
            })
        })
    }

    if (document.addEventListener) {
        document.addEventListener("DOMContentLoaded", doc_loaded, false);
    } else if (document.attachEvent) {
        document.attachEvent("onreadystatechange", doc_loaded);
    } else {
        window.onload = doc_loaded;
    }
</script>